{% extends 'html/master.html' %}
{% block title %}
    <title>MIS计算系统</title>
{% endblock %}
{% block content %}
    <h1>MIS计算</h1>
    <h3>提交</h3>
    <input id="btn1" type="button" class="btn btn-primary" value="点击" onclick="clickMe()">
    <input id="btn3" type="button" class="btn btn-primary" value="点击">
    <form id="form2">
        <label for="txtuser"></label><input id="txtuser" type="text" placeholder="姓名" name="user"/>
        <label for="txtpwd"></label><input id="txtpwd" type="text" placeholder="密码" name="pwd"/>
    </form>

    <input id="btn2" type="button" class="btn btn-primary" value="点击"/>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function clickMe() {
            $.ajax({
                url: '/MIS/test/',
                type: "post",
                data: {
                    n1: 123,
                    n2: 456,
                },
                dataType: "JSON",
                success: function (res) {
                    console.log(res.data);
                }
            })
        }


        $(function () {
            bindBtn1Event();
            btnBtn2Event();
        })

        function btnBtn2Event() {
            $("#btn2").click(function () {
                $.ajax({
                    url: '/MIS/test/',
                    type: "post",
                    data: $("#form2").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res.data);
                    }
                })
            })
        }

        function bindBtn1Event() {
            $("#btn3").click(function () {
                $.ajax({
                    url: '/MIS/test/',
                    type: "post",
                    data: {
                        n1: 123,
                        n2: 456,
                    },
                    dataType: "JSON",
                    success: function (res) {
                        console.log(res.data);
                    }
                })
            })
        }

    </script>
{% endblock %}
