{% extends 'html/master.html' %}
{% block title %}
    <title>MIS信息计算系统</title>
{% endblock %}
{% block content %}
    <!-- Split button -->
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-primary"><a href="/MIS/chart" style="color: #0f0f0f">图表</a></button>
    </div>
    <div class="btn-group">
        <select class="btn btn-danger dropdown-toggle" name="depart_name" data-toggle="dropdown" aria-haspopup="true">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>

    </div>

{% endblock %}

{% block js %}

{% endblock %}